<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_persona.css">
    <link rel="stylesheet" href="../css/personas.css">
    <title>Document</title>
</head>
<body>
    <header id="header"></header>

    <main>
        <section>

            <div class="container-form">
                <form>
                   
                    <div>
                        <label for="id">ID</label>
                        <input type="number" name="id" id="id" disabled>
                    </div>
            
                    <div>
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" id="nombre">
                    </div>
                    
                    <button class="modificar" type="button" onclick="modificar()">Modificar</button>
                </form>
          
          
              </div>

        </section>
    </main>

    
    <footer></footer>

    <script src="../js/editar_persona.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>