<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/ingresar_persona.css">
    <link rel="stylesheet" href="../css/personas.css">
    <title>Registrar</title>
</head>
<body>

    <header id="header"></header>
    
    <main>

        <section>
            <div class="container-form">

                <form action="" >
                    <div class="entrada">
                        <label for="nombre">Nombre:</label>
                        <!--name="nombre" es el atributo donde agrega el nombre de la variable que guarda el dato-->
                        <input type="text" name="nombre" id="nombre">
                    </div>

                    <div class="entrada">
                        <button class="modificar" type="button" onclick="guardar()">Guardar</button>
                    </div>
                    
                </form>
                
            </div>
        </section>

    </main>

    <footer></footer>

    <script src="../js/ingresar_persona.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>