<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/personas.css">
    <title>Document</title>
</head>
<body>

    <header id="header"></header>

    <main>

        <section class="container">
            <div id="app" >

                <!-- Botón Nuevo (Azul) -->
                <a class="nuevo" href="ingresar_persona.html">Nuevo</a>

                <section v-if="error">Lo sentimos se produjo un error</section>
                <section v-else>
                    <section v-if="cargando">
                        <div class="spinner-border"></div>
                        <p>Cargando .....</p>

                    </section>
                    <section v-else>
                        
                        <div >
                            <table class="tabla">
                                <thead>
                                    <tr>
                                        <th >ID</th>
                                        <th >Nombre</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                    <tr v-for="persona in personas">
                                        <td >{{persona.id}}</td>
                                        <td>{{persona.nombre}}</td>
                                        
                                        <td>
                                            <button type="button"  v-on:click="eliminar(persona.id)">Eliminar</button>
                                            
                                            <a class="boton" :href="'editar_persona.html?id='+ persona.id+'&nombre=' +persona.nombre" >Editar</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </section>

            </div>
        </section>

    </main>

    <footer></footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="../js/personas.js"></script>
    <script src="../js/header.js"></script>
</body>
</html>